.header {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 24px px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 24px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background: linear-gradient(100deg, #FDFEFE, #F1F4F8);
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
}

.title {
  margin: 0;
  font-size: 1.8rem;
}

.subtitle {
  margin: 0;
  color: #555;
}

.button{
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}